---
layout: default
title: Home
permalink: /ideas
---

<!-- Navigation -->
{% include navigation.html %}

<div class="pt-5 container">
  <div class="p-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="">
        <div class="text-center">
          <h2 class="display-4">Project Ideas</h2>
        </div>
        <p>
          If you want to participate, but you don't know what project to work on, fear not!
          Here you have a list of project ideas to inspire you and your team
        </p>
        <dl class="ideas">
          {% for idea in site.ideas %}
            <hr />
            <dt class="idea">
              {{ idea.title }}
            </dt>
            <dd class="idea">
              {{ idea.description }}
            </dd>
          {% endfor %}
        </u>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<!-- Sponsor Logos -->
{% include sponsor_logos.html %}

<!-- Footer -->
{% include footer.html %}
