<section class="sp-box " id="about">
  <div class="row p-4">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <p>
        Spawnfest is an annual 48 hour free online development competition in which teams of skilled developers from around the world get exactly one weekend to create the best BEAM-based applications they can.
      </p>
      <p>Participation in SpawnFest is 100% <strong>Free of Charge</strong>.</p>
      <p>We'll be opening registration soon. <strong>Stay Tuned!</strong></p>
      <br>
      <div class="pt-3">
        <p>Checkout <a href="winners">the winners</a> from last year.</p>
      </div>
      <div class="pt-5">
        <h4>Previous editions</h4>
        <p>Check what happened in our previous editions:</p>
        <div class="pl-2">
          <a class="text-white btn btn-previous-edition btn-sm p-2 m-1" href="https://spawnfest.github.io/2012/" target="_blank">2012</a>
          <a class="text-white btn btn-previous-edition btn-sm p-2 m-1" href="https://spawnfest.github.io/2017/" target="_blank">2017</a>
        </div>
      </div>
      <br>
      <span>You can reach us through any of our channels:</span>
      <div class="container d-flex pb-5" >
        <a href="https://twitter.com/spawnfest" target="_blank"><img class="share-icon pr-4 pt-2" src="img/twitter-icon.png"/></a>
          <a href="https://www.facebook.com/spawnfest2017" target="_blank"><img class="pr-4 pt-2 share-icon"  src="img/facebook-icon.png"></a>
          <a href="mailto:spawnfest-organizers@googlegroups.com"><img class="share-icon pr-4 pt-2" src="img/gmail-icon.png"></a>
          <a href="https://erlanger.slack.com/messages/C7M2PNZHB"><img class="share-icon pr-4 pt-2" src="img/slack-icon.png"></a>
          <a href="https://github.com/orgs/spawnfest/teams/players"><img class="share-icon pr-4 pt-2" src="img/github-icon.png"></a>
      </div>
    </div>
    <div class="col-md-4 border twiter-mobile ">
      <a class="twitter-timeline" href="https://twitter.com/spawnfest?ref_src=twsrc%5Etfw" data-height="550">Tweets by Spawnfest</a>
    </div>
  </div>
</section>
