<footer class=" col-md-12">
  <section class="col-md-12 text-center contact "  id="contact">
    <div class="container-fluid">
      <div class="d-inline-flex">
        {% for contact in site.social %}
          <div class="social-link">
            <a href="{{ contact.url }}"> <i class="{{ contact.icon }}"></i></a>
          </div>
        {%  endfor %}
      </div>
    </div>
    <div class="text-center">
      <div class="hashtag pt-3">
        <span class=" text-white ">Tweet your #SPAWNFEST status during the event.</span>
      </div>
    </div>
  </section>
  <div class="col-md-12 text-center">
    <div class="d-flex">
      <div class="footer col-md-12 pb-3">
        <span class="copyright text-center text-white">&copy; SpawnFest 2019</span>
      </div>
   </div>
  </div>
</footer>
