<footer class=" col-md-12">
  <section class="col-md-12 text-center contact "  id="contact">
    <div class="container-fluid">
      <div class="d-inline-flex">
        {% for contact in site.social %}
          <div class="social-link">
            <a href="{{ contact.url }}"> <em class="{{ contact.icon }}"></em></a>
          </div>
        {%  endfor %}
      </div>
    </div>
    <div class="text-center">
      <div class="hashtag pt-3">
        <span class=" text-white ">Tweet your #SpawnFest status during the event.</span>
      </div>
    </div>
  </section>
  <div class="text-center">
    <div class="hashtag pt-3">
      <div class="text-white brought-to-you-by" id="organizers">Brought to you by:</div>
      <span class="brought-to-you-by-imgs">
      <img alt="Filipe Varjão" src="https://avatars.githubusercontent.com/u/777456?s=48&v=4" /> <a href="https://github.com/filipevarjao">filipevarjao</a>
      <img alt="Pablo Costas Sánchez" src="https://avatars.githubusercontent.com/u/24368180?s=48&v=4" /><a href="https://github.com/pablocostass">pablocostass</a>
      <img alt="Paulo F. Oliveira" src="https://avatars.githubusercontent.com/u/7303768?s=48&v=4" /> <a href="https://github.com/paulo-ferraz-oliveira">paulo-ferraz-oliveira</a>
      <img alt="Bryan Paxton" src="https://avatars.githubusercontent.com/u/39971740?s=48&v=4" /> <a href="https://github.com/starbelly">starbelly</a>
      </span>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="d-flex">
      <div class="footer col-md-12 pb-3">
        <span class="copyright text-center text-white">&copy; SpawnFest {{ site.this_edition_year }}</span>
      </div>
   </div>
  </div>
</footer>
