<header class="masthead">
    <div class="container">
        <div class="img-container">
            <img class="header-logo" src="img/header_logo.png" alt="{{ site.alt_for_logo }}">
        </div>
    </div>
    <div class="background-video">
        <video playsinline autoplay muted loop>
      <source src="img/background.mp4" type="video/mp4">
      <source src="img/background.webm" type="video/webm">
    </video>
    </div>
    <a href="winners" class="winners-link">
        <div class="d-flex justify-content-center">
            <div class="head-message p-3 {% if site.registration_open %}d-none{% else %}{% endif %}">
                 <h2 class="d-flex justify-content-center">Registrations are closed! SpawnFest is starting in a few days...</h2>
            </div>
        </div>
    </a>
</header>
