<header class="masthead">
    <div class="container">
        <div class="img-container">
            <img class="header-logo" src="img/header_logo.png" alt="spawnfest 2021 september 18-19">
        </div>
    </div>
    <div class="background-video">
    <video playsinline autoplay muted loop>
      <source src="img/background.mp4" type="video/mp4"/>
      <source src="img/background.webm" type="video/webm"/>
      <source src="img/background.ogv" type="video/ogg"/> 
    </video>
    </div>
    <a href="winners" class="winners-link">
        <div class="d-flex justify-content-center">
            <div class="head-message p-3">
                <h2 class="d-flex justify-content-center">The event is over</h2>
                <h2 class="d-flex justify-content-center">Checkout the WINNERS!</h2>
            </div>
        </div>
    </a>
</header>