<section class="sp-box bg1" id="judges">
  <div class="container-fluid">
    <div class="row p-5">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Judges</h2>
      </div>
    </div>
    <div class="row">
      {% for judge in site.judges %}
        <div class="col-sm-4">
          <div class="team-member"
          data-aos="zoom-in"
          data-aos-duration="600"
          data-aos-easing="ease-out-quad">
            <a class="nav-link" target="_blank" href="{{judge.url}}">
              <img class="mx-auto rounded-circle" src="img/{{ judge.image }}" alt="">
              <h4 class="text-dark">{{ judge.name }}</h4>
            </a>
            <strong> <a class="text-info" href="https://twitter.com/{{judge.twitter}}" alt="@{{judge.twitter}}" target="_blank">@{{ judge.twitter }}</a></strong>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
