<section  id="judges">
  <div class="container-fluid alert-secondary">
     <h2 class="section-heading text-uppercase text-center">Judges</h2>

    <div class="row  ">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/rrrene.png" alt="">
          <h4>René Föhring </h4>
          <strong> <a href="https://twitter.com/rrrene">@rrrene</a>
          </strong>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/kenji.jpg" alt="">
          <h4>Kenji Rikitake </h4>
            <strong>
          <a href="https://twitter.com/jj1bdx">@jj1bdx</a>
          </strong>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/tristan.jpg" alt="">
          <h4>Tristan Sloughter </h4>
          <strong>
          <a href="https://twitter.com/t_sloughter">@t_sloughter</a>
          </strong>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/miriam.jpg" alt="">
          <h4>Miriam Pena </h4>
          <strong>
          <a href="https://twitter.com/miriampena">@miriampena</a>
          </strong>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/juan.jpeg" alt="">
          <h4>Juan Facorro</h4>
          <strong>
          <a href="https://twitter.com/jfacorro">@jfacorro</a>
          </strong>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="img/whatyouhide.jpg" alt="">
          <h4>Andrea Leopardi </h4>
          <strong>
          <a href="https://twitter.com/whatyouhide">@whatyouhide</a>
          </strong>

        </div>
      </div>
    </div>

  </div>
</section>