<section class="sp-box bg1" id="registration">
  <div class="p-5 container">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Register your team</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <p>Participation in SpawnFest is 100% <strong>Free of Charge</strong>.</p>
        <p>Registration is closed at this time. We'll open it again soon!</p>
        <p>
          Don't forget to check the <a href="#rules">rules</a> to know how the contest works.
          And if you need inspiration, check <a href="/ideas">our list of project ideas</a>.
        </p>
      </div>
      <div class="p-4 col-md-3">
        <div class="logo">
          <img class="img-fluid img-fluid-small logo-mobile" src="img/erlang.png" alt="">
        </div>
      </div>
    </div>
    <hr class="col-md-6" />

    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Find a team</h2>
    </div>

    <div class="row align-items-center">
      <div class="col-md-2"></div>
      <div class="col-md-7">
        <p>
          You want to take part in Spawnfest but don't have a team yet?
          Fill out <span class="disabled-section"><a target="_blank" href="https://goo.gl/forms/Knr6GuF3bq6oda1J2">this form</a> [Closed].</span>
          We will try to hook you up in a team as soon as possible!
        </p>
      </div>
      <div class="p-4 col-md-3">
        <div class="logo">
          <div class="col">
            <img class="img-fluid img-fluid-small" src="img/elixir.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
