<section class="sp-box bg1" id="registration">
    <div class="p-5 container">
        <div class="row-center">
                <h2 class="section-heading text-uppercase">Register your team</h2>
                {% if site.before-countdown-to-start %}
                <p>Participation in SpawnFest is 100% <strong>free of charge</strong>.</p>
                <p>Fill out <a class="registration-section-link" target="_blank" href="http://play.spawnfest.org">this form</a> to register your team.</p>
                <p>Also check out the contest rules <a class="registration-section-link" href="#rules">here</a>.</p>
                {% else %}
                <p><strong>The registration is no longer open.</strong> If you want to contact us, send an email to <a class="registration-section-link" href="mailto:organizers@spawnfest.org">organizers@spawnfest.org</a>.</p>
                {% endif %}
        </div>
        <div class="row-center">
          <p>If you need inspiration for a cool project, check our <a class="registration-section-link" href="/ideas.html">list of project ideas</a>!</p>
        </div>
    </div>
</section>
