<section id="rules" class="sp-box bg2">
  <div class="container-fluid">
    <div class="row p-5">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase text-white header-text">Rules</h2>
      </div>
    </div>
    <div class="d-inline-flex rules">
      <ul class="box">
        {% for rule in site.rules %}
          <li>
            <div class="rule-icon">
              <i class="icon {{ rule.icon }}"></i>
            </div>
            <div class="rule border">
              <div class="rule-title"><b>{{ rule.title }}</b></div>
              <ul class="rule-details">
                {% for detail in rule.details %}
                  <li><p>- {{ detail.text }}</p></li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {%  endfor %}
      </ul>
    </div>
  </div>
</section>
