<section id="rules" class="sp-box bg2">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Rules</h2>
      </div>
    </div>
    <div class="d-inline-flex p-5 ">
      <ul class="box">
        {% for rule in site.rules %}
      <i class="icon border bg-white {{ rule.icon }}"></i>
          <li class="rule bord border">
            <span class=" rule mb-1 mt-3 badge badge-info">{{ rule.title }}</span>
             <ul>
              {% for detail in rule.details %}

                <li>{{ detail.text }}</li>
              {% endfor %}
            </ul>
          </li>
        {%  endfor %}
      </ul>
    </div>
  </div>
</section>
