<hr>
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-2 col-first-img text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.gold_sponsors[0].url}}">
          <img class="img-fluid" src="/img/{{site.gold_sponsors[0].logo}}" alt="{{site.gold_sponsors[0].name}}">
        </a>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.gold_sponsors[1].url}}">
          <img class="img-fluid" src="/img/{{site.gold_sponsors[1].logo}}" alt="{{site.gold_sponsors[1].name}}">
        </a>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.gold_sponsors[2].url}}">
          <img class="img-fluid" src="/img/{{site.gold_sponsors[2].logo}}" alt="{{site.gold_sponsors[2].name}}">
        </a>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.gold_sponsors[3].url}}">
          <img class="img-fluid" src="/img/{{site.gold_sponsors[3].logo}}" alt="{{site.gold_sponsors[3].name}}">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-2 text-center">
    </div>
    <div class="col-md-2 col-first-img text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.bronze_sponsors[0].url}}">
          <img class="img-fluid" src="/img/{{site.bronze_sponsors[0].logo}}" alt="{{site.bronze_sponsors[0].name}}">
        </a>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.bronze_sponsors[1].url}}">
          <img class="img-fluid" src="/img/{{site.bronze_sponsors[1].logo}}" alt="{{site.bronze_sponsors[1].name}}">
        </a>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="p-2">
        <a class="nav-link" target="_blank" href="{{site.bronze_sponsors[2].url}}">
          <img class="img-fluid" src="/img/{{site.bronze_sponsors[2].logo}}" alt="{{site.bronze_sponsors[2].name}}">
        </a>
      </div>
    </div>
    <div class="col-md-2 text-center">
    </div>
  </div>
</div>