<section class="alert alert-primary" id="sponsors">
  <div class="">
    <div class="row ">
      <div class="col-lg-12 text-center ">
        <h2 class="section-heading text-uppercase">Sponsors</h2>
        <h3 class="section-subheading text-muted">This event is made possible by our sponsors. You can still <a href="https://docs.google.com/forms/d/e/1FAIpQLScNIyRkA60CKGAtyMZ-pd7wqBcl0BK93sjIuSEbRx5z2xfI4w/viewform">join them.</a></h3>

                      <h2>Gold Sponsors</h2>
      </div>
    </div>
    <div class="d-sm-flex">
      <div class="col-sm-4">
        <div class="team-member">
          <a href="https://www.erlang-solutions.com/"> <img class="mx-auto rounded-top"  src="img/esl.png" alt=""></a>


          <p class="text-muted"> Erlang,Elixir & BEAM Technology Consultancy</p>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <a href="https://www.stritzinger.com/">
          <img class="mx-auto rounded-top" src="img/peer.svg" alt=""></a>

          <p class="text-muted">Dive into a new experience of building wireless embedded systems</p>

        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="team-member">
          <a href="https://tech.adroll.com/">
          <img class=" rounded-top adroll" src="img/adroll.jpg " alt="" ></a>
          <p class="text-muted">The future of e-commerce marketing</p>

        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-lg-12 mx-auto ">
        <h3 class="text-center pb-3">Bronze Sponsors</h3>
      </div>
    </div>
  </div>

  <div class="d-sm-flex text-center">
      <div class="col-sm-4">
        <div class="">
          <a href="https://www.10pines.com/?utm_source=spawnfest&utm_medium=banner&utm_campaign=spawnfest-2018"> <img class="mx-auto rounded-top pines"  src="img/10pines-blanco.svg" alt=""></a>


          <p class="text-muted"> We don't just write code. We craft your ideas</p>

        </div>
      </div>
      <div class="col-sm-4 ">
        <div class=" align-items-center">
          <a href="https://wwwhttp://lambdaclass.com/">
          <img class="rounded-top lambda " src="img/lambdaclass-gray.png" alt=""></a>

          <p class="text-muted">A Software Company from Another Dimension</p>

        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="">
          <a href="https://fiqus.com/">
          <img class=" rounded-top fiqus" src="img/fiqus.png " alt="" ></a>
          <p class="text-muted">Software Corporative</p>

        </div>
      </div>
</section>