<section class="sp-box bg2" id="sponsors">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Sponsors</h2>
            <h3 class="section-subheading text-muted">This event is made possible by our sponsors. You can still <a target="_blank" href="https://forms.gle/HKHghJmYhgA3eN9B6">join them</a>.</h3>
        </div>
    </div>

    <!-- Platinum Sponsor -->
    {% if site.platinum_sponsor.name %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center">Platinum</h2>
        <a class="col-md-6 col-sm-12" href="{{ site.platinum_sponsor.url }}">
            <div class=" border rounded mx-auto text-center sponsor sponsor-platinum " style="background-color: {{ site.platinum_sponsor.background_color }}; ">
                <img class=" p-2 " src="/img/{{ site.platinum_sponsor.image }} " alt="{{ site.platinum_sponsor.name }} ">
            </div>
        </a>
    </div>
    {% endif %}

    <!-- Gold sponsors -->
    {% if site.gold_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center ">Gold</h2>
        {% for sponsor in site.gold_sponsors %}
        <a class="col-md-4 col-sm-12" href="{{sponsor.url}}">
            <div class="border rounded mx-auto text-center sponsor sponsor-gold " style="background-color: {{ sponsor.background_color }}; ">
                <img class=" p-2 " src="/img/{{ sponsor.image }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Silver sponsors -->
    {% if site.silver_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center ">Silver</h2>
        {% for sponsor in site.silver_sponsors %}
        <a class="col-md-3 col-sm-12" href="{{sponsor.url}}">
            <div class="border rounded mx-auto text-center sponsor sponsor-silver " style="background-color: {{ sponsor.background_color }}; ">
                <img class=" p-2 " src="/img/{{ sponsor.image }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Community sponsors -->
    {% if site.community_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center ">Community</h2>
        {% for sponsor in site.community_sponsors %}
        <a class="col-md-4 col-sm-12" href="{{sponsor.url}}">
            <div class="border rounded mx-auto text-center sponsor sponsor-community " style="background-color: {{ sponsor.background_color }}; ">
                <img class=" p-2 " src="/img/{{ sponsor.image }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Media sponsors -->
    {% if site.media_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center ">Media</h2>
        {% for sponsor in site.media_sponsors %}
        <a class="col-md-3 col-sm-12" href="{{sponsor.url}}">
            <div class="border rounded mx-auto text-center sponsor sponsor-media " style="background-color: {{ sponsor.background_color }}; ">
                <img class=" p-2 " src="/img/{{ sponsor.image }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Organizer Sponsor -->
    {% if site.organizer.name %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center">Organizer</h2>
        <a class="col-md-3 col-sm-12" href="{{ site.organizer.url }}">
            <div class=" border rounded mx-auto text-center sponsor sponsor-organizer " style="background-color: {{ site.organizer.background_color }}; ">
                <img class=" p-2 " src="/img/{{ site.organizer.image }} " alt="{{ site.organizer.name }} ">
            </div>
        </a>
    </div>
    {% endif %}

    <div class="container ">
        <div class="col-md-12 ">
            <div class="p-5 ">
                <h2 class="display-5 ">Be a Sponsor!</h2>
                <p>If you want to be a sponsor of this event, you merely need to contribute prizes. You can find more information, and register as a sponsor, in <a href="https://forms.gle/HKHghJmYhgA3eN9B6" target="_blank ">this form</a>. Or you can
                    contact us at <a href="mailto:organizers@spawnfest.org ">organizers@spawnfest.org</a></p>
            </div>
        </div>
    </div>
</section>
