<section class="sp-box bg2" id="sponsors">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="section-subheading text-muted">
            This event is made possible by our sponsors.
            {% if site.registration_open %}
            You can still <a target="_blank" href="http://sponsor.spawnfest.org">join them</a>.
            {% endif %}
            </h3>
        </div>
    </div>

    <!-- Platinum sponsors -->
    {% if site.platinum_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center sponsor-blue">Platinum sponsors</h2>
        {% for sponsor in site.platinum_sponsors %}
        <a class="col-md-6 col-sm-12" href="{{ sponsor.url }}">
            <div class="rounded mx-auto text-center sponsor sponsor-platinum ">
                <img class=" p-2 " src="/img/{{ sponsor.logo }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Gold sponsors -->
    {% if site.gold_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center sponsor-blue">Gold sponsors</h2>
        {% for sponsor in site.gold_sponsors %}
        <a class="col-md-4 col-sm-12" href="{{ sponsor.url }}">
            <div class="rounded mx-auto text-center sponsor sponsor-gold ">
                <img class=" p-2 " src="/img/{{ sponsor.logo }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Silver sponsors -->
    {% if site.silver_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center sponsor-blue">Silver sponsors</h2>
        {% for sponsor in site.silver_sponsors %}
        <a class="col-md-3 col-sm-12" href="{{ sponsor.url }}">
            <div class="rounded mx-auto text-center sponsor sponsor-silver ">
                <img class=" p-2 " src="/img/{{ sponsor.logo }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Bronze sponsors -->
    {% if site.bronze_sponsors %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center sponsor-blue">Bronze sponsors</h2>
        {% for sponsor in site.bronze_sponsors %}
        <a class="col-md-3 col-sm-12" href="{{ sponsor.url }}">
            <div class="rounded mx-auto text-center sponsor sponsor-bronze ">
                <img class=" p-2 " src="/img/{{ sponsor.logo }} " alt="{{ sponsor.name }} ">
            </div>
        </a>
        {%endfor%}
    </div>
    {% endif %}

    <!-- Organizer -->
    {% if site.organizer.name %}
    <div class="row mt-3 sponsors-container">
        <h2 class="display-5 col-12 text-center sponsor-blue">Organizer</h2>
        <a class="col-md-3 col-sm-12 organizer" href="{{ site.organizer.url }}">
            <div class="rounded mx-auto text-center">
                {% if site.organizer.logo %}
                <img class=" p-2 " src="/img/{{ site.organizer.logo }} " alt="{{ site.organizer.name }} ">
                {% else %}
                {{ site.organizer.name }}
                {% endif %}
            </div>
        </a>
    </div>
    {% endif %}

    {% if site.registration_open %}
    <div class="container ">
        <div class="col-md-12 ">
            <div class="p-5 ">
                <h2 class="display-5 ">Be a Sponsor!</h2>
                <p>If you want to be a sponsor of this event, you merely need to contribute prizes. You can find more information, and register as a sponsor, in <a href="http://sponsor.spawnfest.org" target="_blank ">this form</a>. Alternatively, you can
                    contact us at <a href="mailto:organizers@spawnfest.org ">organizers@spawnfest.org</a>.</p>
            </div>
        </div>
    </div>
    {% endif %}
</section>

<script>
$('.sponsor-platinum').parent().shuffle();
$('.sponsor-gold').parent().shuffle();
$('.sponsor-silver').parent().shuffle();
$('.sponsor-bronze').parent().shuffle();
</script>
