<div class="container">
  <div class="p-5 row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="text-center">
        <h2 class="display-5">Spawnfest Winner</h2>
        <div class="winner-box">
          <h2><a href="https://github.com/spawnfest/{{ site.winner.repo }}" target="_blank">{{ site.winner.project }}</a></h2>
        </div>
        <div>
          by <strong>{{ site.winner.team }}</strong>
          <br/>
          {% for member in site.winner.members %}
            <a href="https://github.com/{{ member.user }}" target="_blank">
              <img class="member"  src="{{ member.avatar }}">
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="winner-description">
        <span>{{ site.winner.description }}</span>
        <p><a href="{{ site.winner.link }}" target="_blank">{{ site.winner.link }}</a></p>
      </div>
      <div class="comments-box">
        <p>Comments by the Judges</p>
        <div>
          {% for comment in site.winner.comments %}
            <div class="comment">
              <blockquote>
                {{ comment.text }}
                <footer class="cmt-author">- {{ comment.author }}</footer>
              </blockquote>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="text-center"><p>Prizes</p></div>
      <div class="row text-center">
        {% for prize in site.winner.prizes %}
          <div class="col-md-6">
            <a class="nav-link" target="_blank" href="{{ prize.url }}">
            <img class="winner-prize" src="/img/{{ prize.image }}" alt="{{ prize.name }}">
            </a>
            <div class="col-md-12">
              <p>{{ prize.name }}
              - by <strong><a target="_blank" href="{{ prize.sponsor_url }}">{{ prize.sponsor }}</a></strong></p>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr/>

      <!-- Category Winners -->

      <div class="">
        <h2 class="text-center display-5">Category Winners</h2>
        <div class="row winner-box">
          {% for winner in site.category_winners %}
            <div class="col-md-12">
              <div class="text-center">
                <h3><a href="https://github.com/spawnfest/{{ winner.repo }}" target="_blank">{{ winner.project }}</a></h3>
                by <strong>{{ winner.team }}</strong>
                <div>
                  {% for member in winner.members %}
                    <a href="https://github.com/{{ member.user }}" target="_blank">
                      <img class="member-small"  src="{{ member.avatar }}">
                    </a>
                  {% endfor %}
                </div>
              </div>
              <div class="winner-description">
                <p>Category: <strong>{{ winner.category }}</strong></p>
                <span>{{ winner.description }}</span>
                <p><a href="{{ winner.link }}" target="_blank">{{ winner.link }}</a></p>
              </div>
              <p>Comments by the Judges</p>
              <div>
                {% for comment in winner.comments %}
                  <div class="comment">
                    <blockquote>
                      {{ comment.text }}
                      <footer class="cmt-author">- {{ comment.author }}</footer>
                    </blockquote>
                  </div>
                {% endfor %}
              </div>
              <div class="text-center">
                Prize
                <a class="nav-link" target="_blank" href="{{ winner.prize.url }}">
                <img class="winner-prize" src="/img/{{ winner.prize.image }}" alt="{{ winner.prize.name }}">
                </a>
                <div>
                  <p>{{ winner.prize.name }}
                  - by <strong><a target="_blank" href="{{ winner.prize.sponsor_url }}">{{ winner.prize.sponsor }}</a></strong></p>
                </div>
              </div>
            </div>
            <hr class="col-md-6">
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
