<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SpawnFest 2019</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346329-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108346329-1');
    </script>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Acme|Aldrich|Archivo+Black|Cabin|Dosis|Fjalla+One|Kalam|Kanit:400,700|KoHo:400,700|Noto+Sans+JP:400,900|Patua+One|Quattrocento+Sans|Questrial|Righteous|Source+Code+Pro|Ubuntu+Condensed" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body id="page-top">
    {{ content }}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/aos/aos.js"></script>

    <script>
      AOS.init();
    </script>

    <!-- Custom scripts for this template -->
    <script src="vendor/agency.min.js"></script>

    <!-- Twitter Widget -->
    <script src="/vendor/twitter_widget.js"></script>
  </body>
</html>
