<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108346329-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108346329-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpawnFest</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/one-page-wonder.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">SpawnFest 2017</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% for page in site.nav %}
              <li class="nav-item">
                <a class="nav-link" href="{{page.url}}">{{page.name}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="overlay">
        <div class="container">
          <h1 class="display-2 text-white">SpawnFest is back</h1>
          <h2 class="display-4 text-white">9-10 December</h2>
        </div>
      </div>
    </header>

    {{content}}

    <hr>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 text-center">
          <h2>Gold Sponsors</h2>
        </div>
          {% for sponsor in site.gold_sponsors %}
            <div class="col-md-6 text-center">
              <div class="p-4">
                <a class="nav-link" target="_blank" href="{{sponsor.url}}">
                  <img class="img-fluid img-fluid-small" src="/img/{{sponsor.image}}" alt="{{sponsor.name}}">
                </a>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SpawnFest 2017</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
